SBRL.*
/.vscode/
*.idea
.pycharm_helpers/
.ipynb_checkpoints/
/scripts/plotting/.ipynb_checkpoints/
*.DS_Store
*.pyc
*.nbc
*.nbi
/experiments/
/plots/
/videos/
/sbrl/envs/assets/
/sbrl/envs/assets
*.png
*.jpg
*.obj
*.mtl
*.dae
/data/
/logs/
MUJOCO_LOG.TXT
